body {
    background: rgb(10, 7, 11);
    color: rgb(255, 255, 255);
    padding: 15px;
    font-family: 'Comic Sans mf';
}
#all-contents {
  max-width: 800px;
    margin: auto;
}

/* navigation menu */
nav {
    background: rgb(46, 40, 48);
   margin: 0 auto;
   margin-bottom: 20px;
    display: flex;
    padding: 10px;
    border-style:solid;
    border-width: 2px;
    border-color:rgb(255, 0, 0);
}
h1 {
    display: flex;
    align-items: center;
    color: white;
    flex: 1;
    margin: 0;
}
#nav-ul {
    list-style-image: none;
}
.nav-li {
    display: inline-block;
    padding: 0 10px;
    border-style:solid;
    border-width: 3px;
    border-color:#ff0505;
    border-radius: 5px;
    
}
a {
    text-decoration: none;
    color: #fff;
}

/* main container area beneath menu */
main {
    background: rgb(39, 26, 39);
    display: flex;
    border-style:solid;
    border-width:2px;
    border-color:#ff0000;
}
.sidebar {
    margin-right: 25px;
    padding: 10px;
}
.sidebar-img {
    width: 200px;
    height: 200px;
}
.content {
    flex: 1;
    padding: 15px;
}

#interests {
    border: 4px rgb(255, 0, 0) ridge;
    padding: 8px;
}
h2, h3 {
    margin: 0px;
}

 /* portfolio styles */
         .content h1 {
            color: rgb(255, 255, 255);
        }

        #portfolio {
            list-style-type: none;
            padding-left: 0;
        }

        #portfolio li {
            background: #120b13;
            padding: 10px;
            border-radius: 10px;
            margin-bottom: 10px;
        }

        #portfolio li:hover {
            background: #7f7c815e;
            opacity: 1;
        }

        #portfolio a {
            text-decoration: none;
            color: #ffffff;
        }
    
