
body {
margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: radial-gradient(ellipse, #ff4d94, #d62d6e, #822659, #2b2b2b);
  background-attachment: fixed;
  color: #f2f2f2;
  line-height: 1.6;
}

#board {
  width: 440px;
  height: 440px;
  border: 1px solid white;
  background-color: black;
  position: relative;
  margin: auto;
}

#walker {
  background: url(assets/ELI.png);
  width: 55px;
  height: 55px;
  position: absolute;
/*   left: 100px; */  /* Uncomment if you want to set a "starting" position */
/*   top: 100px;  */  /* Uncomment if you want to set a "starting" position */

}
#walker2 {
  background: url(assets/Zach.png);
  width: 55px;
  height: 55px;
  position: absolute;
}
