
body {
  background: linear-gradient(135deg, #ff4d94, #d62d6e, #822659, #2b2b2b);
}

#board {
  width: 440px;
  height: 440px;
  border: 1px solid #ffffff;
  background-color: rgba(122, 182, 11, 0.849);
}

#score, #highScore {
  color: white;
}

.snake, .apple {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  user-select: none;
}

.snake {
  background-color: green;
  z-index: 2;
  
}

#snake-head {
  background-color: rgb(12, 110, 12);
  
}

.apple {
  background-color: rgb(201, 9, 9);
  z-index: 1;
  
}